<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <name>
        <lang name="default">Tabu tags</lang>
        <lang name="ru">Tabu tags (Запрещённые теги)</lang>
    </name>
    <author>
        <lang name="default">Gavka S.</lang>
        <lang name="ru">Гавка С.</lang>
    </author>
    <homepage>https://github.com/sgavka</homepage>
    <settings>{admin}settings/plugin/tabutags/</settings>
    <version>0.9</version>
    <requires>
        <livestreet>2.0.*</livestreet>
        <plugins>
        </plugins>
    </requires>
    <description>
        <lang name="default">Black and admin's lists for tags.</lang>
        <lang name="ru">Черный и админский списки тегов.</lang>
    </description>
</plugin>